
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.jquery.js"></script>
  <script src="https://raw.githubusercontent.com/danielfarrell/bootstrap-combobox/master/js/bootstrap-combobox.js"></script>

<!--  Deactivated to prevent searching for incorrect airport code.  Do not remove!
  <script>
      $(function () {
        $('#origin').autocomplete({
          appendTo : "searchModal",
        }); 
      });
  </script> --> 

<!-- In place for autocomplete.  Remove after Autocomple refactor! -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.combobox').combobox();
  });
</script>

<script>
$(document).ready(function() {
    $('#signinForm').formValidation({
        framework: 'bootstrap',
        live: 'enabled',
        icon: {
            // valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            "search[maxfare]": {
                validators: {
                    notEmpty: {
                        message: 'Please enter your max cost.'
                    },
                    numeric: {
                        message: 'The cost must be a number'
                    },
                    greaterThan: {
                        value: 50
                    }
                }
            },
            "search[lengthofstay]": {
                validators: {
                    notEmpty: {
                      message: 'Please input desired length of trip'
                    },
                    greaterThan: {
                        value: 0
                    },
                    lessThan: {
                        value: 17
                    }
                }
            }
        }
    });
});
</script>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav"><%=image_tag('logo2.png', {class:'img-responsive'}) %> </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">Home</a>
                    </li>
                    <li>
                        <a href="#services">How it works</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Modal -->
    <div id="searchModal" name="searchModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">You're practically there already!</h4>
      </div>
      <div class="modal-body">




<form action="/flights/search" method="POST" id="signinForm" class="form-horizontal">
          <div class="form-group">
          <div id="fare_length" class="text-center">
            Where are you leaving from?<a href="#"><a href="#" onClick='alert("Is your city not listed? Don&#39;t worry, we&#39;re working around the clock trying to add every city with a major airport.  More airports means more combinations, which starts getting complex... woof. I&#39;m sure you understand!")'><%= image_tag 'help2.png' %></a>
          </div>
            <!-- Deactivated to prevent searching for incorrect airport code.  Do not reomve! Restore after refactor.
              <input type="text" class="form-control" id='origin' placeholder="Origin Code (LAX)" name="search[origin]" data-autocomplete="airports/autocomplete_airport_city"> -->
              <select class="form-control combobox" id="origin" name="search[origin]" required>
                  <option></option>
                  <option value="ATL">ATL - Atlanta</option>
                  <option value="BNA">BNA - Nashville</option>
                  <option value="BWI">BWI - Baltimore</option>
                  <option value="ANC">ANC - Anchorage</option>
                  <option value="BOS">BOS - Boston</option>
                  <option value="CLE">CLE - Cleveland</option>
                  <option value="CLT">CLT - Charlotte</option>
                  <option value="CVG">CVG - Hebron</option>
                  <option value="DCA">DCA - Arlington</option>
                  <option value="DEN">DEN - Denver</option>
                  <option value="DFW">DFW - Dallas/Fort Worth</option>
                  <option value="DTW">DTW - Detroit</option>
                  <option value="EWR">EWR - Newark</option>
                  <option value="FLL">FLL - Fort Lauderdale</option>
                  <option value="IAD">IAD - Washington</option>
                  <option value="IAH">IAH - Houston</option>
                  <option value="ILN">ILN - Wilmington</option>
                  <option value="LAS">LAS - Las Vegas</option>
                  <option value="LAX">LAX - Los Angeles</option>
                  <option value="MCO">MCO - Orlando</option>
                  <option value="MCI">MCI - Kansas City</option>
                  <option value="MDW">MDW - Chicago</option>
                  <option value="MEM">MEM - Memphis</option>
                  <option value="MIA">MIA - Miami</option>
                  <option value="MKE">MKE - Milwaukee</option>
                  <option value="MSP">MSP - St. Paul</option>
                  <option value="ORD">ORD - Chicago</option>
                  <option value="PDX">PDX - Portland</option>
                  <option value="PHL">PHL - Philadelphia</option>
                  <option value="PHX">PHX - Phoenix</option>
                  <option value="SAN">SAN - San Diego</option>
                  <option value="SFO">SFO - San Francisco</option>
                  <option value="SEA">SEA - Seattle</option>
                  <option value="SJU">SJU - Carolina</option>
                  <option value="SLC">SLC - Salt Lake City</option>
                  <option value="STL">STL - St. Louis</option>
                  <option value="TOL">TOL - Swanton</option>
                  <option value="TPA">TPA - Tampa</option>
                  <option value="JFK">JFK - New York</option>
                  <option value="LGA">LGA - New York</option>
              </select>
          </div>
          <div id="fare_length" class="text-center">
            What type of trip are you looking for?<br />Pick what sounds best.
          </div>
          <div class="form-group">
             <select class="form-control" id="length_of_stay" name="search[theme]" required>
                <option value="" selected disabled>Destination types:</option>
                <option value="beach">Sand, waves, and sunshine.</option>
                <option value="skiing">Somewhere with skiing</option>
                <option value="caribbean">Somewhere tropical</option>
                <option value="outdoors">The great outdoors</option>
                <option value="gambling">Casinos, bars, and clubs</option>
                <option value="romantic">Somewhere romantic</option>
                <option value="shopping">Somewhere to shop</option>
                <option value="theme-park">A major theme park</option>
              </select>
          </div>
          <div id="fare_length" class="text-center">
            Enter the most you can spend,<br />and how many days you wish to travel.
          </div>
          <div class="form-group">
            <div class="col-xs-12 col-md-6">
              <div class="input-group">
                <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="maxfare" name="search[maxfare]" placeholder="Max Fare" required>
                <div class="input-group-addon">.00</div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" id="length_of_stay" name="search[lengthofstay]" placeholder="Trip Length" required>
                <div class="input-group-addon">Days</div>
              </div>
            </div>
          </div>
          <div id="dates" class="text-center">
            Optional: Pick an earliest and latest departure date. <a href="#date_help"><%= image_tag 'help2.png' %></a>
          </div>

          <div class="form-group">
            <div class="col-xs-6">
              <input type="text" class="form-control" name="search[earliestdeparturedate]" placeholder= "Earliest departure" id="departureDate" data-provide="datepicker-inline" data-date-format="yyyy-mm-dd" data-date-start-date="0d" data-date-end-date="+89d" />
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" name="search[latestdeparturedate]" placeholder="Latest departure" id="latestDate" data-provide="datepicker-inline" data-date-format="yyyy-mm-dd" data-date-start-date="0d" data-date-end-date="+89d" />
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox text-center">
              <label><input type="checkbox" name="temperature_limit" value="bring_the_heat">Exclude all destinations below 72&deg;?</label>
            </div>
          </div>
          <div class="btn-search text-center">
            <button type="submit" class="btn btn-success btn-lg">Search</button>
          </div>
              <% flash.each do |key, value| %>
                <br /><br />
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
        </form>
        <br />
        </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Need a Getaway?</h1>
                        <h3>Using your max fare, availability, and destination criteria...<br />We render nearly every possible trip you can take.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#searchModal"><span class="network-name">Start Searching!</span></button>
                            </li>
                            <li>
                                <a href="#services" class="btn btn-warning btn-lg"><span class="network-name">How it works</span></a>
                            </li>
                        </ul>
                        <% flash.each do |key, value| %>
                          <br /><br />
                          <div class="alert alert-<%= key %>"><%= value %></div>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">First off, whatcha lookin for?<br>Choose a destination type.</h2>
                    <p class="lead">The best part about Triprender: you don't need a destination in mind!  TripRender searches thousands of cities aorund the world based on your search criteria and only returns exactly what you're looking for!<br />All you need to do is selct a destintion type from the drop-down list.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <br />
                    <%=image_tag('destination.png', {class:'img-responsive'}) %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How much can you spend<br>and how long you can stay for?</h2>
                    <p class="lead">Tell us the most you're willing to spend on airfare and we'll only show you trips you can afford. <br />Additionally, we'll need to know how many days you can travel.  Sound strange?  At TripRender, we search the up coming 90 days for your trip<a href="#"><%= image_tag 'help2.png' %></a>.  If you need more control over dates, then keep reading...</p>
                </div>
                <br />
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%=image_tag('price.png', {class:'img-responsive'}) %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Take control over departure<br>and choose a date range.</h2>
                    <p class="lead">If you're unable to let TripRender find flights anytime within the next 90 days, you can use our <b>optional</b> Date Range feature. To narrow down the dates, choose the soonest you can possibly leave and the latest possible date you can leave. If you need an exact departure day, set both fields to the same date. <a href="#"><%= image_tag 'help2.png' %></a></p>
                </div>
                <br />
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%=image_tag('dates.png', {class:'img-responsive'}) %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <a  name="date_help"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">You're almost there!<br>Pick your destination...</h2>
                    <p class="lead">Depending on your search criteria, up to 50 of the <b>top</b> destinations will be presented.<br />First, pick the destination. Then, pick a price and corresponding date range that works best for you. Lastly, click on "Check Times" to see all availble times for that price on those dates. Boom. </p>
                </div>
                <br />
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%=image_tag('destinations.png', {class:'img-responsive'}) %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
  <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Ready to start searching?</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                           <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#searchModal">Yeah Buddy!</button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#moreHelpModal">I need more help</button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#contactModal">Contact Us</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">How it works</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Random Stuff</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; TripRender 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>


  <!-- script references -->

    <!-- script src="js/bootstrap.min.js">/script> -->
    <!-- Moments.js minified CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

    <!-- Bootstrap datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
