<div class="container-full">
  <div class="col-xs-offset-1">
    <div class=" shadowbox col-xs-10 text-center">
      <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
        <% @results.each do |destination_location, fares| %>
          <% convert_iata = destination_location %>
            <% city_name = WorldAirports.iata("#{convert_iata}").city %>
              <% linked = "#" + convert_iata %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="variable"
            <h2 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href=<%= linked %> aria-expanded="false" aria-controls=<%= convert_iata %>>
                <div class="city-headline">
                  <span class="glyphicon glyphicon-list pull-left"></span>&nbsp<b><%= city_name %></b>
                </div>
              </a>
            </h2>
          </div>

          <div id=<%= convert_iata %> class="panel-collapse collapse" role="tabpanel" aria-labelledby="variable">
            <div class="panel-body">
              <% fares.each do |fare| %> 
              <div class="price col-xs-2 col-xs-offset-1">
                <b>$<%= fare.lowest_fare.to_i %> </b>
              </div>
              <div class="depart-return col-xs-5">
                You'd Leave <%= (fare.departure_date_time.to_time).strftime("on %m/%d/%Y") %>
                <br />
                And return <%= (fare.return_date_time.to_time).strftime("on %m/%d/%Y")  %>
              </div>

                <% fare.links.each do |flight_link| %>
                  <% booking_link = flight_link["href"] %>
                  <div class="bton">
                    <%= link_to "Check Times", search_bookings_path(:link => booking_link), :class => 'btn btn-lg btn-primary' %>
                  </div>
                
                  <hr />  
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
        <% end %> 
    </div>
  </div>
</div>
</div>




<!-- at %I:%M%p 
at %I:%M%p  -->

