<div class="col-xs-offset-2">
  <div class="cols-xs-8">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @results.each do |destination_location, fares| %>
        <% convert_iata = destination_location %>
          <% city_name = WorldAirports.iata("#{convert_iata}").city %>
            <% linked = "#" + convert_iata %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="balls"
          <h2 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href=<%= linked %> aria-expanded="false" aria-controls=<%= convert_iata %>>
              <h2><%= city_name %></h2>
            </a>
          </h2>
        </div>

        <div id=<%= convert_iata %> class="panel-collapse collapse" role="tabpanel" aria-labelledby="balls">
          <div class="panel-body">
              <% fares.each do |fare| %> 
               for
              <b><%= fare.lowest_fare.to_i %> </b><%= @money %>
              <br />
              You'd Leave: <%= (fare.departure_date_time.to_time).strftime("at %I:%M%p on %m/%d/%Y") %>
              <br />
              And return: <%= (fare.return_date_time.to_time).strftime("at %I:%M%p on %m/%d/%Y")  %>
              <br />
              <br />
              <% fare.links.each do |flight_link| %>
                <% booking_link = flight_link["href"] %>
                <div class="bton">
                  <%= link_to "Book it!", search_bookings_path(:link => booking_link), :class => 'btn btn-lg btn-success' %>
                </div>  
            <!-- </div> -->
          
            <% end %>
          <% end %>



          </div>
        </div>
      </div>
      <% end %> 
  </div>
</div>
</div>



<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

</div>

</div>







