<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav"><%=image_tag('logo.png', {class:'img-responsive'}) %> </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to 'Home', root_path %>
                </li>
                <li>
                    <a href="#services">How it works</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<% x = @booking_flights.booking_cost.first %>
    <h2 style="color: black"><%= WorldAirports.iata(x.origin_title).city %> to <%= WorldAirports.iata(x.destination_title).city %></h2>
    <h5>where they have a current high of 
    <% temp = Airport.find_by(code: "#{x.destination_title}") %> 
    <%= temp.current_high_temp %>&deg;</h5>
    <h4>
    Departing <%= x.departure_date_title %>
    <br />
    Returning on <%= x.return_date_title %></h4>
    <hr />
<% option_count = 1 %>
<% @booking_flights.booking_cost.each do |y| %>
    <h3 style="color: black">Itinerary Option <%= option_count %> for <span style="color: red">$<%= y.total_fare %></span></h3>
        <% option_count = option_count + 1 %>
            <% y.flight_data.each do |flight_segment| %>
                <% flight_segment["FlightSegment"].each do |departure_or_arrival| %>

                    
                    <%= WorldAirports.iata(departure_or_arrival["DepartureAirport"]["LocationCode"]).city %>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    <%= WorldAirports.iata(departure_or_arrival["ArrivalAirport"]["LocationCode"]).city %>
                    <br />
                    <%= (departure_or_arrival["DepartureDateTime"].to_time).strftime("Departing at %-I:%-M%-p")  %>
                    and
                    <%= (departure_or_arrival["ArrivalDateTime"].to_time).strftime("Arriving at %-I:%-M%-p on %A, %B %-d")  %>
                    <br />via
                    <% airline_iata_code = departure_or_arrival["OperatingAirline"]["Code"] %>
                    <% airline_data = Airline.where(iata_code: "#{airline_iata_code}") %>
                    <% airline_data.each do |x| %>
                        <%= x.airline %>
                    <% end %> 
                    flight
                    <%= departure_or_arrival["OperatingAirline"]["FlightNumber"] %>
                    <br />
                    <br />
                <% end %>
            <% end %>

<% linked = "#" + option_count.to_s %>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target=<%= linked %>><u>Email Itinerary</u></button>

<!-- Modal -->
<div id=<%= option_count %> class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Itinerary looks awesome!</h4>
      </div>
      <div class="modal-body">

        <%= form_tag({controller: "bookings", action: "mail"}, method: "post") do %>

      <p><%= y.total_fare %></p>
            <% y.flight_data.each do |flight_segment| %>
                <% flight_segment["FlightSegment"].each do |departure_or_arrival| %>
                    <%= WorldAirports.iata(departure_or_arrival["DepartureAirport"]["LocationCode"]).city %>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    <%= WorldAirports.iata(departure_or_arrival["ArrivalAirport"]["LocationCode"]).city %>
                    <br />
                    <%= (departure_or_arrival["DepartureDateTime"].to_time).strftime("Departing at %-I:%-M%-p")  %>
                    and
                    <%= (departure_or_arrival["ArrivalDateTime"].to_time).strftime("Arriving at %-I:%-M%-p on %A, %B %-d")  %>
                    <br />via
                    <% airline_iata_code = departure_or_arrival["OperatingAirline"]["Code"] %>
                    <% airline_data = Airline.where(iata_code: "#{airline_iata_code}") %>
                    <% airline_data.each do |x| %>
                        <%= x.airline %>
                    <% end %> 
                    flight
                    <%= departure_or_arrival["OperatingAirline"]["FlightNumber"] %>
                    <br />
                    <br />
                <% end %>
            <% end %> 

                <%= hidden_field_tag :body, "#{y.flight_data}" %>
                <%= label_tag("Email: ") %>
                <%= email_field_tag(:email) %>
            <%= submit_tag("Send it!") %>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

            <hr />
        <% end %>








<!-- Old Code for refrence purposes.  Delte on FINAL refactor only!
<h1 style="color: black">OLD CODE</h1>
[
    [
        {
            "AirItinerary"=>{
                "OriginDestinationOptions"=>{
                    "OriginDestinationOption"=>[
                        {
                            "FlightSegment"=>[
                                {
                                    "DepartureAirport"=>{
                                        "LocationCode"=>"JFK"
                                    },
                                    "ArrivalAirport"=>{
                                        "LocationCode"=>"BOS"
                                    },
                                    "MarketingAirline"=>{
                                        "Code"=>"B6"
                                    },
                                    "ArrivalTimeZone"=>{
                                        "GMTOffset"=>-4
                                    },
                                    "TPA_Extensions"=>{
                                        "eTicket"=>{
                                            "Ind"=>true
                                        }
                                    },
                                    "StopQuantity"=>0,
                                    "ElapsedTime"=>66,
                                    "ResBookDesigCode"=>"O",
                                    "MarriageGrp"=>"O",
                                    "Equipment"=>{
                                        "AirEquipType"=>320
                                    },
                                    "DepartureDateTime"=>"2015-08-26T06:13:00",
                                    "ArrivalDateTime"=>"2015-08-26T07:19:00",
                                    "FlightNumber"=>318,
                                    "OnTimePerformance"=>{
                                        "Level"=>8
                                    },
                                    "OperatingAirline"=>{
                                        "FlightNumber"=>318,
                                        "Code"=>"B6"
                                    },
                                    "DepartureTimeZone"=>{
                                        "GMTOffset"=>-4
                                    }
                                }
                            ],
                            "ElapsedTime"=>66
                        },
                        {
                            "FlightSegment"=>[
                                {
                                    "DepartureAirport"=>{
                                        "LocationCode"=>"BOS"
                                    },
                                    "ArrivalAirport"=>{
                                        "LocationCode"=>"JFK"
                                    },
                                    "MarketingAirline"=>{
                                        "Code"=>"B6"
                                    },
                                    "ArrivalTimeZone"=>{
                                        "GMTOffset"=>-4
                                    },
                                    "TPA_Extensions"=>{
                                        "eTicket"=>{
                                            "Ind"=>true
                                        }
                                    },
                                    "StopQuantity"=>0,
                                    "ElapsedTime"=>85,
                                    "ResBookDesigCode"=>"O",
                                    "MarriageGrp"=>"O",
                                    "Equipment"=>{
                                        "AirEquipType"=>"E90"
                                    },
                                    "DepartureDateTime"=>"2015-08-27T19:35:00",
                                    "ArrivalDateTime"=>"2015-08-27T21:00:00",
                                    "FlightNumber"=>317,
                                    "OnTimePerformance"=>{
                                        "Level"=>4
                                    },
                                    "OperatingAirline"=>{
                                        "FlightNumber"=>317,
                                        "Code"=>"B6"
                                    },
                                    "DepartureTimeZone"=>{
                                        "GMTOffset"=>-4
                                    }
                                }
                            ],
                            "ElapsedTime"=>85
                        }
                    ]
                },
                "DirectionInd"=>"Return"
            },
            "TPA_Extensions"=>{
                "ValidatingCarrier"=>{
                    "Code"=>"B6"
                }
            },
            "SequenceNumber"=>2,
            "AirItineraryPricingInfo"=>{
                "PTC_FareBreakdowns"=>{
                    "PTC_FareBreakdown"=>{
                        "FareBasisCodes"=>{
                            "FareBasisCode"=>[
                                {
                                    "BookingCode"=>"O",
                                    "DepartureAirportCode"=>"JFK",
                                    "AvailabilityBreak"=>true,
                                    "ArrivalAirportCode"=>"BOS",
                                    "content"=>"OI7ABEN"
                                },
                                {
                                    "BookingCode"=>"O",
                                    "DepartureAirportCode"=>"BOS",
                                    "AvailabilityBreak"=>true,
                                    "ArrivalAirportCode"=>"JFK",
                                    "content"=>"OI7ABEN"
                                }
                            ]
                        },
                        "PassengerTypeQuantity"=>{
                            "Quantity"=>1,
                            "Code"=>"ADT"
                        },
                        "PassengerFare"=>{
                            "FareConstruction"=>{
                                "CurrencyCode"=>"USD",
                                "DecimalPlaces"=>2,
                                "Amount"=>"240.00"
                            },
                            "TotalFare"=>{
                                "CurrencyCode"=>"USD",
                                "Amount"=>"286.20"
                            },
                            "Taxes"=>{
                                "TotalTax"=>{
                                    "CurrencyCode"=>"USD",
                                    "DecimalPlaces"=>2,
                                    "Amount"=>"46.20"
                                },
                                "Tax"=>[
                                    {
                                        "CurrencyCode"=>"USD",
                                        "DecimalPlaces"=>2,
                                        "TaxCode"=>"US1",
                                        "Amount"=>"18.00"
                                    },
                                    {
                                        "CurrencyCode"=>"USD",
                                        "DecimalPlaces"=>2,
                                        "TaxCode"=>"ZP",
                                        "Amount"=>"8.00"
                                    },
                                    {
                                        "CurrencyCode"=>"USD",
                                        "DecimalPlaces"=>2,
                                        "TaxCode"=>"AY",
                                        "Amount"=>"11.20"
                                    },
                                    {
                                        "CurrencyCode"=>"USD",
                                        "DecimalPlaces"=>2,
                                        "TaxCode"=>"XF",
                                        "Amount"=>"9.00"
                                    }
                                ]
                            },
                            "BaseFare"=>{
                                "CurrencyCode"=>"USD",
                                "Amount"=>"240.00"
                            },
                            "EquivFare"=>{
                                "CurrencyCode"=>"USD",
                                "DecimalPlaces"=>2,
                                "Amount"=>"240.00"
                            }
                        }
                    }
                },
                "FareInfos"=>{
                    "FareInfo"=>[
                        {
                            "TPA_Extensions"=>{
                                "Cabin"=>{
                                    "Cabin"=>"Y"
                                },
                                "SeatsRemaining"=>{
                                    "BelowMin"=>false,
                                    "Number"=>7
                                }
                            },
                            "FareReference"=>"O"
                        },
                        {
                            "TPA_Extensions"=>{
                                "Cabin"=>{
                                    "Cabin"=>"Y"
                                },
                                "SeatsRemaining"=>{
                                    "BelowMin"=>false,
                                    "Number"=>7
                                }
                            },
                            "FareReference"=>"O"
                        }
                    ]
                },
                "TPA_Extensions"=>{
                    "DivideInParty"=>{
                        "Indicator"=>false
                    }
                },
                "ItinTotalFare"=>{
                    "FareConstruction"=>{
                        "CurrencyCode"=>"USD",
                        "DecimalPlaces"=>2,
                        "Amount"=>"240.00"
                    },
                    "TotalFare"=>{
                        "CurrencyCode"=>"USD",
                        "DecimalPlaces"=>2,
                        "Amount"=>"286.20"
                    },
                    "Taxes"=>{
                        "Tax"=>[
                            {
                                "CurrencyCode"=>"USD",
                                "DecimalPlaces"=>2,
                                "TaxCode"=>"TOTALTAX",
                                "Amount"=>"46.20"
                            }
                        ]
                    },
                    "BaseFare"=>{
                        "CurrencyCode"=>"USD",
                        "DecimalPlaces"=>2,
                        "Amount"=>"240.00"
                    },
                    "EquivFare"=>{
                        "CurrencyCode"=>"USD",
                        "DecimalPlaces"=>2,
                        "Amount"=>"240.00"
                    }
                }
            },
            "TicketingInfo"=>{
                "TicketType"=>"eTicket"
            }
        },
    -->   